body, html {
  background: url(/images/concert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.plays {
  display: flex;
  flex: 1;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

kbd {
  font-size: 4rem;
  display: block;
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4rem solid black;
  border-radius: 0.7rem;
  font-size: 1.5rem;
  width: 5rem;
  height: 5rem;
  text-align: center;
  color: white;
  background: #ffaf6d59;
}
